@inject IStringLocalizer<Resource> _localizer
@model MainModel

<header class="header">
  <div class="container d-md-flex align-items-md-center">

    <section class="header-sign py-4 py-md-0 text-center text-md-start me-md-auto">

        <a class="header-logo d-flex align-items-center"
           href="@Model.Main.AbsoluteUrl">

            <img class="header-logo-img me-2"
                 src="~/img/BizFirstAi_logo.png"
                 alt="BizFirstAI Logo"
                 style="height:40px;" />

        </a>

    </section>

    <partial name="./nav.cshtml" />
  </div>
</header>